body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:hover {
    outline: none;
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar {
  width: 0px;  
  height: 0px;  
  background-color: #F5F5F5;  
}
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
  border-radius: 10px;  
  background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
  background-color: #555;  
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

html, body {
  height: 100%;
  width: 100%;
  background-color: #FFF;
}


.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.margin {
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paddingTop {
  padding-top: 1.88rem;
}

@keyframes backOpacity {
  0%   { opacity: 1 }
  25%  { opacity: .5 }
  50%  { opacity: 1 }
  75%  { opacity: .5 }
  100% { opacity: 1 }
}

.animation_opactiy {
  animation: backOpacity 2s ease-in-out infinite;
}

.contentWrap {
  padding: 0 .43rem !important;
}

.introduce .title {
  padding-top: .26rem;
  padding-bottom: .26rem;
  color: #FF9800;
  font-size: 0.61rem;
}

.introduce .content {
  padding: .1rem .06rem;
  font-size: .35rem;
  color: #101010;
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
}
